offline/base-dependence/vim-enhanced-7.4.629-8.el7_9.x86_64.rpm filter=lfs diff=lfs merge=lfs -text
offline/cni/cni-plugins-linux-amd64-v1.4.0.tgz filter=lfs diff=lfs merge=lfs -text
offline/containerd/containerd-1.7.11-linux-amd64.tar.gz filter=lfs diff=lfs merge=lfs -text
offline/containerd/containerd.io-1.6.26-3.1.el7.x86_64.rpm filter=lfs diff=lfs merge=lfs -text
offline/containerd/cri-containerd-cni-1.7.11-linux-amd64.tar.gz filter=lfs diff=lfs merge=lfs -text
offline/containerd/cri-tools-1.26.0-0.x86_64.rpm filter=lfs diff=lfs merge=lfs -text
offline/crictl-images/1.23.3/etcd_3.5.1-0.tar.gz filter=lfs diff=lfs merge=lfs -text
offline/crictl-images/1.23.3/kube-apiserver_v1.23.3.tar.gz filter=lfs diff=lfs merge=lfs -text
offline/crictl-images/1.23.3/kube-controller-manager_v1.23.3.tar.gz filter=lfs diff=lfs merge=lfs -text
offline/crictl-images/1.23.3/kube-proxy_v1.23.3.tar.gz filter=lfs diff=lfs merge=lfs -text
offline/crictl-images/1.23.3/kube-scheduler_v1.23.3.tar.gz filter=lfs diff=lfs merge=lfs -text
offline/crictl-images/1.28.2/coredns_v1.10.1.tar.gz filter=lfs diff=lfs merge=lfs -text
offline/crictl-images/1.28.2/etcd_3.5.9-0.tar.gz filter=lfs diff=lfs merge=lfs -text
offline/crictl-images/1.28.2/kube-apiserver_v1.28.2.tar.gz filter=lfs diff=lfs merge=lfs -text
offline/crictl-images/1.28.2/kube-controller-manager_v1.28.2.tar.gz filter=lfs diff=lfs merge=lfs -text
offline/crictl-images/1.28.2/kube-proxy_v1.28.2.tar.gz filter=lfs diff=lfs merge=lfs -text
offline/crictl-images/1.28.2/kube-scheduler_v1.28.2.tar.gz filter=lfs diff=lfs merge=lfs -text
offline/crictl-images/kube-flannel-cni-plugin_v1.2.0.tar.gz filter=lfs diff=lfs merge=lfs -text
offline/crictl-images/kube-flannel-v0.24.0.tar.gz filter=lfs diff=lfs merge=lfs -text
offline/docker/containerd.io-1.6.26-3.1.el7.x86_64.rpm filter=lfs diff=lfs merge=lfs -text
offline/docker/docker-ce-24.0.7-1.el7.x86_64.rpm filter=lfs diff=lfs merge=lfs -text
offline/docker/docker-ce-cli-24.0.7-1.el7.x86_64.rpm filter=lfs diff=lfs merge=lfs -text
offline/docker/docker-ce-rootless-extras-24.0.7-1.el7.x86_64.rpm filter=lfs diff=lfs merge=lfs -text
offline/docker/docker-compose-plugin-2.21.0-1.el7.x86_64.rpm filter=lfs diff=lfs merge=lfs -text
offline/docker-before/lvm2-2.02.187-6.el7_9.5.x86_64.rpm filter=lfs diff=lfs merge=lfs -text
offline/docker-compose/docker-compose-linux-x86_64 filter=lfs diff=lfs merge=lfs -text
offline/k8s/1.23.3/kubeadm-1.23.3-0.x86_64.rpm filter=lfs diff=lfs merge=lfs -text
offline/k8s/1.23.3/kubectl-1.23.3-0.x86_64.rpm filter=lfs diff=lfs merge=lfs -text
offline/k8s/1.23.3/kubelet-1.23.3-0.x86_64.rpm filter=lfs diff=lfs merge=lfs -text
offline/k8s/1.28.2/kubeadm-1.28.2-0.x86_64.rpm filter=lfs diff=lfs merge=lfs -text
offline/k8s/1.28.2/kubectl-1.28.2-0.x86_64.rpm filter=lfs diff=lfs merge=lfs -text
offline/k8s/1.28.2/kubelet-1.28.2-0.x86_64.rpm filter=lfs diff=lfs merge=lfs -text
offline/k8s/1.28.2/kubernetes-cni-1.2.0-0.x86_64.rpm filter=lfs diff=lfs merge=lfs -text
